.dataRow {
    display:flex;
    flex-direction: row;
    width:80%;
    justify-content: start;
    border: 1px solid gray;
    padding:3px;
}

.label {
    width:200px; 
}



.value {
    width: 100%;
}       
