.mainWrapper {
    position:fixed;
    bottom:0px;
    left:50%;
    display:flex;
    flex-direction: column;
    width:600px;
    height:100px;
    transform: translate(-50%,0);
    background-color: var(--sidebar-color-default);
    z-index: 997;
    user-select:text;

    box-shadow: 0px 0px 3px 1px var(--sidebar-color-default);

    transition: 0.5s;
    opacity:0.9;
    box-sizing: border-box;
}

.mainWrapper:hover {
    transform: scale(1.01) translate(-50%,0);
}


.playbar {
    position:relative;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    height:20px;
    background-color: gray;
    border-radius: 10px;
    cursor:pointer;

}

.playdot {
    height:20px;
    width:10px;
    background-color: black;
    border-radius: 2px;
    position:relative;
    left:0%;
    transform:translate(-50%,0%);
}


.topbar {
    display: flex;
    flex-direction: row;
    background-color: var(--sidebar-color-default);
    margin-right: 5px;
    height:20px;
}

.buttonContainer {
    display:flex;
    flex-direction: row;
    position:relative;
    top:30px;
    justify-content: center;
}

.closeButton {
    position:absolute;
    right:5px;
    cursor: pointer;
    z-index: 999;
}

.ptrWrap {
    cursor:pointer;
}

.timeWrapper {
    position:absolute;
    left:10px;
    max-width: 90%;
}